@media (any-pointer:none), (any-pointer:coarse) {
	@media screen and (orientation:portrait) {
		:root {
			--font-h1: 500 18px var(--ff);
			--font-h2: 500 16px var(--ff);
			--font-p: 400 14px var(--ff);
		}
		@scope (.icons-wrapper) {
			:scope {
				flex-direction: column;
			}
			IMG {
				--size-icon: 40px;
				flex: 0 0;
				height: var(--size-icon);
			}
			FIGURE {
				flex-direction: row;
			}
			FIGCAPTION {
				flex: 1 1;
				text-align: start;
			}
		}
		@scope (.timeline) {
			:scope:before {
				height: 100%;
				width: 0.2em;

				top: 0;
				left: calc(-1* var(--size-timepoint) - 0.1em);
				bottom: 0;
			}
			.point:before {
				left: calc(var(--size-timepoint) * -1.5);
				top: 0;
			}
		}
		.product {
			flex-direction: column !important;
		}

		/* navigation */
		#menu-icon { display: block; }
		#menu-icon IMG { width: 1.5rem; padding: 0.5rem; aspect-ratio: 1; }
		HEADER:not(:has(#toggle-menu:checked)) NAV {
			display: none !important;
		}
		HEADER:has(#toggle-menu:checked) {
			background-color: rgb(0 0 0 / 0.8);
			width: 100vw;
			height: 100vh;
		}
		@scope (NAV) {
			:scope {
				display: flex;
				flex-direction: column;
			}
			.dropdown:after { display: none !important; }
			.dropdown-items {
				display: block !important;
				position: relative !important;
			}
		}
	}
}
